.slider__text p:first-child{
    color: #fcf9f7;
    font-family: "Baskerville";
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Baskerville - Regular";
    letter-spacing: 1.8px;
}

.slider__text p{
    margin-top: 20px;
    color: #d7794a;
    font-family: "Athelas";
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.root__menu_top a{
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Myriad Pro";
	color:#FCFCFC;
	font-size: 20px;
	font-weight: 400;
}

.head__logo{
	margin-left: 63px;
	font-family: "Myriad Pro";
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.63px;
	text-decoration: none;
	color: #d7794a;
}
.team__title{
    color: #a95e39;
    font-family: "Athelas";
    font-size: 61px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.team__description{
    text-align: center;
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.9px;
}
.item__title{
    text-align: center;
    font-family: Helvetica;
    font-size: 31px;
    letter-spacing: 0.9px;
    line-height: 25.46px;
    font-weight: 400;
}
.item__desc{
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.counter__digits{
    color: #995437;
    font-family: "Vani";
    font-size: 77px;
    line-height: 38.37px;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.counter__text{
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}